// VARIABLES
$body-fontfamily: "acumin-pro", Helvetica, arial, sans-serif;
$heading-fontfamily: "Georgia", serif;

//COLORS
$bodybackground: rgba(173, 250, 255, 0.995);
$color-text-body: rgba(0, 0, 0, 0.5);
$color-accent: coral;
$color-midgrey: rgba(0, 0, 0, 0.5);
$color-links: #069;
$color-links-dark: #035;
$color-hero-bg: rgba(0, 0, 0, 1);

// BREAKPONT
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORT PARTIALS
@import "partials/toc";
@import "partials/typography";
@import "partials/buttons";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure";
