// site header
.site-header,
.site-footer {
  background-color: $color-accent;
  padding: 1em;
  color: #fff;
  display: flex;
  justify-content: space-between;

  h1 {
    font-family: $body-fontfamily;
    font-size: 1.5em;
    margin: 0.5em 0 0 0;
    // to adjust baseline
  }

  a {
    color: #fff;
    text-decoration: none;
    list-style: none;
  }
}
//SITE HEADER
.site-header,
.site-footer {
  background-color: $color-accent;
  padding: 1em;
  color: #fff;
  display: flex;
  justify-content: space-between;

  h1 {
    font-family: $body-fontfamily;
    font-size: 1.5em;
    margin: 0.5em 0 0 0; /* to adjust baseline with nav text */
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}

/* site header */
.site-header {
  background-color: transparent;
  position: absolute;
  width: 100%;
}

/* site footer */
.site-footer {
  justify-content: center;
  margin-top: 6em;
  background-color: #000;
}

/* site navigation */
.site-header .site-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  transition: all 0.4s ease;
  ul {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    font-size: 2em;
    transform: translateY(-30px);
    opacity: 0;
  }
  a {
    display: block;
    padding: 0.5em;
  }

  &.active {
    position: fixed;
    height: 100%;
    z-index: 100;
    background: red;
    ul {
      top: 50%;
    }
    li {
      transition: all 0.4s cubic-bezier(0, 1, 1, 1);
      transform: translateY(0);
      opacity: 1;
      &:nth-child(1) {
        transition-delay: 0;
      }
      &:nth-child(2) {
        transition-delay: 0.2s;
      }
      &:nth-child(3) {
        transition-delay: 0.4s;
      }
      &:nth-child(4) {
        transition-delay: 0.6s;
      }
      &:nth-child(5) {
        transition-delay: 0.8s;
      }
      &:nth-child(6) {
        transition-delay: 1s;
      }
    }
  }
}

.site-footer .site-nav {
  ul {
    display: flex;
    list-style: none;
  }
  a {
    display: block;
    padding: 1em;
  }
}

//menu button
.menu-button {
  position: absolute;
  top: 2em;
  right: 2em;
  cursor: pointer;
  z-index: 200;
}
section {
  padding: 6em 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
//HERO
.hero {
  background-color: $color-hero-bg;
  padding: 6em 1em;
  text-align: center;
  color: #fff;
  background-image: url "https://unsplash.com/photos/3VdXaG9lvqc";
  background-size: cover;

  h2 {
    font-size: 4em;
  }

  p {
    margin-left: auto;
    margin-right: auto;
  }
}

//layout

.split-crossed-right {
  @media (min-width: $breakpoint-small) {
    .container {
      display: flex;
      align-items: center;
      // flex-direction: row-reverse;
    }

    .image-block {
      width: 50%;
      background: maroon;
    }

    .text-block {
      width: 50%;
      background: lightpink;
      transform: translatex(-2em);
      // transform: translatex(2em);
    }
  }
}

.split-crossed-row-reversed {
  @media (min-width: $breakpoint-small) {
    .container {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }

    .image-block {
      width: 50%;
      background: maroon;
    }

    .text-block {
      width: 50%;
      background: lightpink;
      transform: translatex(2em);
    }
  }
}
